.container {
    border: 5px solid #ffcc5c;
    display: flex;
}

/* Justify content options -  flex-start flex-end space-around space-between space-evenly 

.home {
    margin-right: auto;
}*/
/* .container > div {
    flex: 1;
    flex-grow, flex-shrink, flex-basis 
} */

.container > .search {
    flex: 2;
}
